@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* hide scrollbar end */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* hero section */
.bg-hero {
  background-image: url('/hero4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.RBtn {
  display: none;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}
/* hero section end */

/* Custom reflect button  */
.RBtn::before {
  position: absolute;
  content: "Request a Quote";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.RBtn:hover {
  background-position: right;
  transition-duration: 1s;
  box-shadow: 0 0 25px #ffd277;
}

.RBtn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.RBtn:active {
  transform: scale(0.95);
  box-shadow: 0 0 25px #ffd277;
}
/* Custom reflect button end  */

.text-shadow {
  text-shadow: 4px 4px 7px rgb(0, 0, 0), -4px -4px 7px rgb(0, 0, 0);
}

.glow {
  box-shadow: 0 0 25px #ffd277;
}

/* inner glow button */
.inglow-button {
  position: relative;
  border: 3px ridge #FAF3AB;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  background-color: black;
}

.inglow-button::after,
.inglow-button::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 40%;
  transition: 0.5s;
  transform-origin: center;
  transform: scale(1);
}

.inglow-button::after {
  top: -10px;
  left: 3%;
}

.inglow-button::before {
  top: 60%;
  left: 3%;
}

.inglow-button:hover::before,
.inglow-button:hover::after {
  transform: scale(0);
}

.inglow-button:hover {
  box-shadow: inset 0px 0px 25px #FAF3AB;
}
/* inner glow button end*/

/* NAV */
.nav-item a {
  position: relative;
  color: inherit; 
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item a::after {
  content: '';
  position: absolute;
  left: 50%; 
  bottom: -5px; 
  background-image: linear-gradient(to right, #A37B4A, #FAF3AB, #A37B4A); 
  height: 2px; 
  width: 0;
  transform: translateX(-50%);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-item a:hover::after {
  visibility: visible;
  width: 100%; 
  left: 0; 
  transform: translateX(0%); 
}
/* NAV end */



@media (min-width: 768px) {
  .RBtn {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .bg-herobig {
      background-image: url('/hero4.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }
}
@media (min-width: 1536px) {
  .bg-herobig {
      background-image: url('/hero4.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 90% 100%;
  }
}
